<nav class="navbar-andross-bottom navbar-fixed-bottom visible-xs">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
			<li><a href="tel:{{site.data.settings.client.phone}}"><img src="/img/phone.png" alt="" /></a></li>
      <li><a href="#contact-bottom" id="contact-bottom"><img src="/img/envelope.png" alt="" /></i></a></li>
      <li><a href="{{site.data.settings.client.first_CTA_URL}}"><img src="/img/home-value.png" alt="" /></a></li>
      <li><a href="{{site.data.settings.client.second_CTA_URL}}"><img src="/img/home-search.png" alt="" /></a></li>
    </ul>
  </div>
</nav>
