<div class="container-fluid footer">
<div class="container footer">
	    <div class="row footer-pad">
	      {% comment %} if something is missing from the contact info it won't print extra columns {% endcomment %}
	      {% if site.data.settings.client.brand == null and site.data.settings.client.brokerage == null %}
	        <div class="col-sm-6">
	          <span itemprop="founder">{{site.data.settings.client.name}}</span>
						{% if site.data.settings.client.license_number != null %}
						<br><span>{{site.data.settings.client.license_number }}
					{% endif %}
	        </div>
	        <div class="col-sm-6">
	          <address itemprop="address">{{site.data.settings.client.address}}</address>
	        </div>
	      {% elsif site.data.settings.client.brand == null %}
	        <div class="col-sm-4">
	          <span itemprop="founder">{{site.data.settings.client.name}}</span>
						{% if site.data.settings.client.license_number != null %}
						<br><span>{{site.data.settings.client.license_number }}
							{% endif %}
	        </div>
	        <div class="col-sm-4">
	          <span itemprop="branchof">{{site.data.settings.client.brokerage}}</span>
	        </div>
	        <div class="col-sm-4">
	          <address itemprop="address">{{site.data.settings.client.address}}</address>
	        </div>
	      {% elsif site.data.settings.client.brokerage == null  %}
	        <div class="col-sm-4">
	          <span itemprop="founder">{{site.data.settings.client.name}}</span>
						{% if site.data.settings.client.license_number != null %}
						<br><span>{{site.data.settings.client.license_number }}
					{% endif %}
	        </div>
	        <div class="col-sm-4">
	          <span itemprop="brand">{{site.data.settings.client.brand}}</span>
	        </div>
	        <div class="col-sm-4">
	          <address itemprop="address">{{site.data.settings.client.address}}</address>
	        </div>
	      {% else %}
	        <div class="col-sm-3">
	          <span itemprop="founder">{{site.data.settings.client.name}}</span>
						{% if site.data.settings.client.license_number != null %}
						<br><span>{{site.data.settings.client.license_number }}
					{% endif %}
	        </div>
	        <div class="col-sm-3">
	          <span itemprop="brand">{{site.data.settings.client.brand}}</span>
	        </div>
	        <div class="col-sm-3">
	          <span itemprop="branchof">{{site.data.settings.client.brokerage}}</span>
	        </div>
	        <div class="col-sm-3">
	          <address itemprop="address">{{site.data.settings.client.address}}</address>
	        </div>
	      {% endif %}
	    </div>
	    <hr>
	    <div class="row">
	      <div class="col-sm-4">
					{% if site.data.settings.client.phone2 != null %}
					{{ site.data.settings.client.phone_type }}: <a href="tel:{{site.data.settings.client.phone | prepend: "1-"}}" itemprop="telephone">{{ site.data.settings.client.phone }}</a><br />
					{{ site.data.settings.client.phone2_type }}: <a href="tel:{{site.data.settings.client.phone2 | prepend: "1-"}}" itemprop="telephone">{{ site.data.settings.client.phone2 }}</a><br />
					{% else %}
	        <a href="tel:{{site.data.settings.client.phone | prepend: "1-"}}" itemprop="telephone">{{site.data.settings.client.phone}}</a>
					{% endif %}

	      </div>
	      <div class="col-sm-4"><a href="mailto:{{site.data.settings.client.email}}">{{site.data.settings.client.email}}</a></div>
	      <div class="col-sm-4"><a href="{{site.data.settings.client.url}}" target="_blank">{{site.data.settings.client.url | remove: "http://" | remove: "https://"}}</a></div>
	    </div>
	    <div class="row">
	      <div class="twelve columns footer-socials">
	        {% include socials.html %}
	    </div>
	  </div>
	  <div class="attribution">
			{% if site.data.settings.client.brand != null %}
				<p>&copy;{{ site.time | date: '%Y' }} {{site.data.settings.client.brand}}</p>
			{% else %}
				<p>&copy;{{ site.time | date: '%Y' }} {{site.data.settings.client.name}}</p>
			{% endif %}
	    Proudly Brought To You By
	    <a href="http://getvyral.com" target="_blank">
				Vyral Marketing</a><br>
				<a href="http://getvyral.com" target="_blank">
	    <svg id="Layer_1" class="vyral-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.06 82.39"><path d="M225,427.63a39.49,39.49,0,0,0-34.46,58.8l-1.47,2.86L178.43,510l21.11-9.85,2.27-1.06A39.49,39.49,0,1,0,225,427.63Zm5.68,62.7H218.79l-14.42-45h11.15l5.47,19c1.54,5.34,2.94,10.48,4,16.09h0.2c1.13-5.41,2.54-10.75,4.07-15.89L235,445.34h10.81Z" transform="translate(-178.43 -427.63)"/></svg></a>
	    </a>
	  </div>
</div>
	</div>

<!-- </footer> -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://use.fontawesome.com/3958139b47.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/js/media-player.js"></script>
