<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.data.settings.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description | replace: '-- MARKET --', site.data.settings.client.market | replace: '-- CLIENT BRAND --', site.data.settings.client.brand }}
	{% endif %}">

  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,300italic,200' rel='stylesheet' type='text/css'>
  <!-- style-->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.data.settings.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <!-- All that meta crap -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description | replace: '-- MARKET --', site.data.settings.client.market | replace: '-- CLIENT BRAND --', site.data.settings.client.brand }}
	{% endif %}">
  <meta name="content-language" content="en_US">
  <meta name="author" content="{{site.data.settings.client.name}}">
  <meta name="web_author" content="Brent Stradling">
  <meta name="copyright" content="{{site.data.settings.client.name}}">

  <!--Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}">
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:description" content="{{site.data.settings.description | replace: '-- MARKET --', site.data.settings.client.market | replace: '-- CLIENT BRAND --', site.data.settings.client.brand }}">
  <meta property="og:site_name" content="{{site.data.settings.title}}">
  <meta property="og:locale" content="en_US">
  <meta property="og:image" content="{{site.image}}">
  <meta property="fb:admins" content="{{site.fb-admins}}">
  <meta property="og:rich_attachment" content="true">

  <!-- Oldschool meta content -->
  <meta itemprop="description" content="{{site.data.settings.description | replace: '-- MARKET --', site.data.settings.client.market | replace: '-- CLIENT BRAND --', site.data.settings.client.brand }}">
  <meta name="keywords" content="{{site.keywords}}">
  <meta name="copyright" content="Copyright © {{ site.time | date: '%Y' }}">
  <meta name="author" content="{{site.data.settings.client.name}}">
  <meta name="designer" content="Bryce Stradling">
  <meta name="email" content="{{site.data.settings.client.email}}">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <link type="text/plain" rel="author" href="{{site.url}}/humans.txt">
  <link rel="author" href="{{site.data.settings.socials.gplus}}"/>

  <!-- ICONS HOLY CRAP -->
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/img/favicons/manifest.json">
	<link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="{{site.data.settings.site_colors.theme_color}}">
</head>
