<!-- Newsletter optin form -->
<div class="newsletter">
      <div class="news-column-left">
        <h2>Sign Up for Our Newsletter</h2>
        <p>Get up-to-date Real Estate news and tips every month</p>
			</div>
				<div class="news-col-right">

        <form action="{{site.data.settings.client.VR_form}}" method="post" class='newsletter_optin' target="blank">
          <input type="email" name="email_address" placeholder="Email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
          <input type="text" name="_gotcha" class="hidden">
          <input type="submit" value="Sign up">
        </form>
    </div>
</div>
