<div class="sidebar-contact">

	<p>
		<b>{{ site.data.settings.client.name }}</b><br />
		{% if site.data.settings.client.license_number != null %}
		#{{ site.data.settings.client.license_number }}</br>
		{% endif %}
		{{ site.data.settings.client.brand }}<br />
		{% if site.data.settings.client.brokerage != null %}
		{{ site.data.settings.client.brokerage }}<br />
		{% endif %}
		{{ site.data.settings.client.address }}<br />
		{% if site.data.settings.client.phone2 != null %}
		{{ site.data.settings.client.phone_type }}: {{ site.data.settings.client.phone }}<br />
		{{ site.data.settings.client.phone2_type }}: {{ site.data.settings.client.phone2 }}<br />
		{% else %}
		{{ site.data.settings.client.phone }}<br />
		{% endif %}
		<a href="mailto:{{ site.data.settings.client.email }}" target="_blank">{{ site.data.settings.client.email }}</a><br />
		<a href="http://{{ site.data.settings.client.url }}" target="_blank">{{ site.data.settings.client.url }}</a><br />
	</p>

</div>
