.client-image-container
	border-radius: 50%
	width: 200px
	height: 200px
	border: 3px solid $brand
	// margin: 10px auto 0 6rem
	overflow: hidden
	display: inline-block
	margin: auto

.client-image
	max-width: 200px

.about-container
	display: flex
	// flex-direction: column
	justify-content: center
	padding: 0px 10px 40px
	font-size: 18px
	div
		display: flex

.about-text
	p
		vertical-align: middle
		// display: inline-block
		// max-width: 350px
		// padding-top: 50px
		margin: auto 0
.gray
	background: #ededed
	div
		div
			h4
				text-align: center
				padding-top: 20px
.contact-text
	margin: auto
//
// @media (max-width: 1408px)
// 	.contact-text
// 		padding-left: 50px
// @media (max-width: 1258px)
// 	.contact-text
// 		padding-left: 25px
