.cta
	background: $button-background
	color: $button-text
	// padding: 1.3rem 2rem
	text-transform: capitalize
	font-size: 2rem
	font-weight: 300
	&:hover
		background: #eeeeee
		color: $brand-dark
	&:active
		text-decoration: none
		color: $brand
	&:focus
		text-decoration: none
		color: $brand
