.cta
	background: $button-background
	color: $button-text
	padding: 1.3rem 2rem
	margin-top: 12px
	text-transform: capitalize
	font-size: 2rem
	font-weight: 300
	border: 2px solid $button-border
	@include transition(0.3s)
	&:hover
		background: transparent
		color: $brand-light
		box-shadow: 4px 4px 0 $brand-light
		border: 2px solid $button-border
		@include transform(scale(1.05))
		@include transform(translateY(-0.2rem))
	&:active
		box-shadow: 0 0 0 $brand-light
		@include transform(translateY(0rem))
		text-decoration: none
		color: $brand
	&:focus
		text-decoration: none
		color: $brand

.cta2
	background: $brand
	color: $secondary-button-text
	padding: 1.3rem 2rem
	margin-top: 12px
	text-transform: capitalize
	font-size: 2rem
	font-weight: 300
	border: 2px solid $brand
	@include transition(0.3s)
	&:hover
		background: #eee
		color: $button-text
		box-shadow: 4px 4px 0 $brand-light
		border: 2px solid $secondary-button-border
		@include transform(scale(1.05))
		@include transform(translateY(-0.2rem))
	&:active
		box-shadow: 0 0 0 $brand-light
		@include transform(translateY(0rem))
	&:focus
		text-decoration: none
		color: #fff
