.welcome-box
	background: $brand
	padding: 20px 0px
	color: $light-text
	margin-top: -1px
	@include shadow
	margin-bottom: 20px

.welcome-exit
	position: absolute
	right: 1rem
	top: 1rem
	color: $light-text
	+transition
	cursor: pointer
	&:hover
		color: $brand-light
	&:focus
		outline: 0
		border: 0
