<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

	<body>
		{% if site.data.settings.audit_header == true %}
			{% include audit.html %}
		{% endif %}
		{% include header.html %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">

					{% include navigation.html %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
					{{ content }}
				</div>

			<!-- Sidebar Content // Hidden on mobile -->
			</div>

			</div>
			{% include testimonials.html %}
			{% include bottom-navigation.html %}
			{% include footer.html %}
  </body>
</html>
