<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

	<body>
		{% if site.data.settings.audit_header == true %}
			{% include audit.html %}
		{% endif %}
		{% include contact-modal.html %}
		{% include navigation.html %}
		{% include header.html %}

  	<div class="container-fluid">

				<div class="col-sm-12 visible-xs visible-sm sidebar">
					{% include socials.html %}
					{% include search-box.html %}
				</div>
			<div class="col-lg-7 col-md-7 col-lg-offset-1">


	<main>
		<!-- <div class="container"> -->
			<div class="row post-container">
				<a href="{{page.url}}"><h1 class="post-title" itemprop="name headline">{{page.title}}</h1></a>
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="display: none;">{{ page.date | date: "%b %-d, %Y" }}</time>
				<p class="tag-container">
				<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
					<div class="twelve columns post-content"  itemprop="articleBody">
						<p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
						{{ content }}
					</div>
				</article>
			</div>
			<div class="row">
				{% include share-buttons.html %}
			</div>
		<!-- </div> -->
	</main>
			</div>
			<div class="col-md-5 col-lg-3 hidden-sm hidden-xs sidebar">
				{% include socials.html %}
				{% include search-box.html %}
				{% include about.html%}
				{% include reviews.html %}
				{% include blog-archive-category.html %}
			</div>
		</div>
		{% include newsletter.html %}
		{% include testimonials.html %}
		{% include footer.html %}
  </body>
</html>
